@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

* { outline: red 1px solid; }

body { 
    background-color: rgb(153, 228, 153);
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
    background-position: center 280px, left top; 
    background-repeat: no-repeat, repeat-x;
    background-size: 800px, auto;
    font-family: 'Quicksand', sans-serif;
}

#nav {
    background-color:  rgb(153, 228, 153);
    border-bottom: 2px dashed rgb(104, 247, 104);
    color: white;
    font-weight: bold;
    padding: 20px 0; 
    text-align: center;
    word-spacing: 2em;
    
}

#header {
    text align: center;
    margin-top: 40px;
    max-width: 360px;
    width: 100%;

}


#logo {
    max-width: 360px;
    width: 100%;
}

#description, #date {
    max-width: 270px;
    width: 100%;

}

.register_btn {
    background-color: rgb(250, 32, 32);
    border: 2px dashed rgb(255, 47, 47);
    border-radius: 2em;
    color: aliceblue;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;

}

